* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

.container{
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
}

.box{
  background-color: rgb(0,109,250);
  color: white;
  padding: 10px 5px;
  border: 1px solid white;
  text-align: center;
}

.box-nested{
  background-color: #01e165;
  border: 1px solid rgba(0,109,250,255);
  min-height: 15px;
}



